
/* hero background image */
.bgimage {
    height: 100vh;
    
}

#myVideo {
    position: absolute;
    filter:opacity(80%);
  }

/* text css above hero image */
.hero_title {
    font-size: 4.5rem;
    font-family: 'Merriweather', serif;
    color: black;

}

.hero_desc {
    font-size: 2rem;
    font-family: 'Merriweather', serif;
    color: black;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.søg {
    margin-left: 40rem;
    margin-right: 40rem;
    margin-top: 10rem;
}

p {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
}

.vision {
    padding-top: 8rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background: linear-gradient(135deg, #E5E4E4 0%, #607960 49%);
    font-family: 'Merriweather', serif;
}

.vision1 {
    background: #E5E4E4;
    padding: 2rem;
}

.vision2 {
    background: #c9c9c9;
    padding: 2rem;
}


.clock {
    height: 400px;
    width: 400px;
}
